<ion-view view-title="Currency converter" >
    <ion-content style="background-image: url(../img/back.png); background-repeat: repeat-x; background-size: contain;">        
        <div class="row">
                <div class="col-50 col-offset-25">
                    <div class="row currencyChooser">
                        <div class="col-20">
                            <img src="../img/flag/dkk.png"/>
                        </div>
                        <div class="col-50">
                            <span>DKK - 7,4612</span>
                        </div>
                        <div class="col-10 col-offset-20">
                            <span class="ion-arrow-down-b"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-33 col-offset-33" style="text-align: center">
                    <a style="font-size: 40px;">
                        <i class="ion-ios-arrow-thin-up"></i>
                        <i class="ion-ios-arrow-thin-down"></i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-50 col-offset-25">
                    <div class="row currencyChooser">
                        <div class="col-20">
                            <img src="../img/flag/eur.png"/>
                        </div>
                        <div class="col-50">
                            <span>EUR - 7,4612</span>
                        </div>
                        <div class="col-10 col-offset-20">
                            <span class="ion-arrow-down-b"></span>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
